/* General Styles */
body {
    font-family: "Black Ops One", system-ui;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000000;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  h1, h2 {
    text-transform: uppercase;
  }
  h2{
    font-size: 3rem;
  }
  
  h1 span, h2 span {
    color: #FF6C02;
  }
  
  /* Header */
  header {
    background: #000;
    padding: 20px, 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  header a {
    margin: 0 10px;
    font-weight: bold;
  }
  header img{
    margin: 0px 50px;
    width: 50px;
    filter: grayscale(100%);
  }
  
  /* Hero Section */
  .hero {
    text-align: center;
    padding: 120px 20px;
    background: url('/images/desktop.jpeg') center/cover no-repeat; 
    color : #fff;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  
  /* Categories Section */
  .shop {
    padding: 50px 85px;
    padding-bottom: 0px;
  }
  .categories {
    display: flex;
    justify-content: space-around;
    padding: 40px 75px;
    text-align: center;
  }
  
  .categories div {
    background: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Adds a shadow at the bottom */
    transition: transform 0.3s, box-shadow 0.3s; /* Adds smooth effects for hover */
  }

  .categories div:hover {
    transform: translateY(-5px); /* Lifts the item slightly on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7); /* Increases shadow on hover */
  }
  
  .categories img {
    width: 100%;
    border-radius: 10px;
  }
  
  .categories h3 {
    margin-top: 15px;
    color: #FF6C02;
  }
  
  /* Brands Section */
  .brands {
    padding: 20px;
    text-align: center;
  }
  
  .brands img {
    margin: 0px 100px;
    width: 100px;
    filter: grayscale(100%);
  }
  table{
    margin: 20px auto;
    align-content: center;
  }
  
  /* Footer */
  footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  footer .contact {
    margin: 20px 0;
  }
  
  footer .social-icons img {
    width: 30px;
    margin: 0 5px;
  }
  footer img{
    margin: 0px 100px;
    width: 200px;
    filter: grayscale(100%);
  }